@* <section class="courseDescription-contentSection">
    <div class="container">
        <div class="content-top">
            <div class="content-top-text">
                <h1>Course Description</h1>
                <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                <h4>What you'll learn</h4>
                <ul>
                    <li><i class="fa-regular fa-square-check"></i>Sed lectus donec amet eu turpis interdum.</li>
                    <li><i class="fa-regular fa-square-check"></i>Nulla at consectetur vitae dignissim porttitor.</li>
                    <li><i class="fa-regular fa-square-check"></i>Phasellus id vitae dui aliquet mi.</li>
                    <li><i class="fa-regular fa-square-check"></i>Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</li>
                    <li><i class="fa-regular fa-square-check"></i>In aenean dolor diam tortor orci eu.</li>
                </ul>
            </div>

            <div class="content-top-right">
                <h6>This course includes:</h6>
                <p><i class="fa-solid fa-tv"></i>@Model.Hours hours on-demand video</p>
                <p><i class="fa-regular fa-newspaper"></i>18 articles</p>
                <p><i class="fa-solid fa-download"></i>25 downloadable resources</p>
                <p><i class="fa-solid fa-8 fa-rotate-90"></i>Full lifetime access</p>
                <p><i class="fa-solid fa-trophy"></i>Certificate of completion</p>
                @if (Model.DiscountPrice != null)
                {
                    <div class="price">
                        <p>@Model.DiscountPrice</p>
                        <p><s>@Model.Price</s></p>
                    </div>
                }
                <div class="price">
                    <p>@Model.Price</p>
                </div>
                <form method="post" asp-action="SavedItems" asp-controller="Account">
                    <input type="hidden" name="courseId" value="@Model.Id" />
                    <button type="submit" class="btn-theme">Join course</button>
                </form>

            </div>
        </div>

        <div class="content-mid">
            <h1>Program Details</h1>
            <div id="content-mid-box">
                <img src="~/images/1.svg" alt="">
                <div id="content-mid-box-text">
                    <h4>Introduction. Getting started</h4>
                    <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                </div>
            </div>

            <div id="content-mid-box">
                <img src="~/images/2.svg" alt="">
                <div id="content-mid-box-text">
                    <h4>The ultimate HTML developer: advanced HTML</h4>
                    <p>Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.</p>
                </div>
            </div>

            <div id="content-mid-box">
                <img src="~/images/3.svg" alt="">
                <div id="content-mid-box-text">
                    <h4>CSS & CSS3: basic</h4>
                    <p>Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.</p>
                </div>
            </div>

            <div id="content-mid-box">
                <img src="~/images/4.svg" alt="">
                <div id="content-mid-box-text">
                    <h4>JavaScript basics for beginners</h4>
                    <p>Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.</p>
                </div>
            </div>

            <div id="content-mid-box">
                <img src="~/images/5.svg" alt="">
                <div id="content-mid-box-text">
                    <h4>Understanding APIs</h4>
                    <p>Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.</p>
                </div>
            </div>

            <div id="content-mid-box">
                <img src="~/images/6.svg" alt="">
                <div id="content-mid-box-text">
                    <h4>C# and .NET from beginner to advanced</h4>
                    <p>Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.</p>
                </div>

            </div>
        </div>

        <div class="content-bottom">
            <img src="~/images/coursedescription-creator-img.svg" alt="">
            <div class="content-bottom-text">
                <p>Learn from the best</p>
                <h1>@Model.Author</h1>
                <p>Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
                <button id="yt" class="btn-theme"><i class="fa-brands fa-youtube"></i>240k subscribers</button>
                <button id="fb" class="btn-theme"><i class="fa-brands fa-facebook"></i>240k subscribers</button>
            </div>
        </div>
    </div>
</section>


@code {

}
 *@