@* <section class="courses-showcase">
    <div class="container">
        <div class="courses-showcase-top">
            <div class="top-text">

                <ul class="breadcrumb">
                    <li><i class="fa-solid fa-house"></i><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="active"><i class="fa-solid fa-angles-right"></i>Courses</li>
                </ul>
                <h1>Courses</h1>
            </div>

            <form class="filters">
                <div class="courses-showcase-search">

                    <div class="select">
                        <div class="selected">All categories</div>
                        <i class="fa-solid fa-caret-down"></i>
                        <div class="select-options" style="display:none">

                            <div class="option" data-value="all">All categories</div>
                            @if (Model.Categories != null)
                            {
                                foreach (var category in Model.Categories)
                                {
                                    <div class="option" data-value="@category.CategoryName">@category.CategoryName</div>
                                }
                            }
                        </div>
                    </div>

                    <div class="input-search-group">
                        <input id="searchQuery" name="searchQuery" placeholder="Search courses" />
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </form>

        </div>

        @if (Model.Courses != null)
        {
            <div class="courses-showcase-content">


                @foreach (var course in Model.Courses)
                {
                    <div class="course" onclick="location.href='@Url.Action("Details", "Courses", new { id = course.Id })'">
                        <div class="courses-box">

                            <div class="courses-box-top">
                                @if (course.IsBestSeller)
                                {
                                    <p>Best seller</p>
                                }
                            </div>

                            <form method="post" asp-action="SavedItems" asp-controller="Account">
                                <input type="hidden" name="courseId" value="@course.Id" />
                                <button type="submit"><i class="fa-regular fa-bookmark"></i></button>
                            </form>



                            <img src="~/images/@course.ImgUrl" alt="@course.Title">

                            <div class="courses-text">
                                <h5>@course.Title</h5>
                                <p>@course.Author</p>
                            </div>

                            @if (course.DiscountPrice != null)
                            {
                                <div class="prices">
                                    <p><s>@course.Price $</s></p>
                                    <p>@course.DiscountPrice $</p>
                                </div>
                            }
                            else
                            {
                                <div class="prices">
                                    <p>@course.Price $</p>
                                </div>
                            }

                            <div class="hour-rating">
                                <p><i class="fa-regular fa-clock"></i>@course.Hours</p>
                                <p><i class="fa-regular fa-thumbs-up"></i>@course.LikesInProcent% (@course.LikesInNumber k)</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    @if (Model.Pagination != null && Model.Pagination.TotalPages > 1)
    {
        <div class="pagination">
            @for (int i = 1; i <= Model.Pagination.TotalPages; i++)
            {
                if (i == Model.Pagination.CurrentPage)
                {
                    <span class="number active">@i</span>
                }
                else
                {
                    <a class="number" href="@Url.Action("Index", new { pageNumber = i, pageSize = Model.Pagination.PageSize })">@i</a>
                }
            }
        </div>
    }
</section>

@code {

}
 *@