@page "/Account/Manage/SavedItems"
@using System.Text.Json

<h3>SavedItems</h3>
@* <section class="accountSavedItems">

    <div class="container">

        <div class="accountSavedItems-main">
            <div class="accountSavedItems-top">
                <h3>Saved Items</h3>
                <button><i class="fa-solid fa-trash"></i>Delete all</button>
            </div>

            @if ()
            {
                @foreach (var course in SavedCourses)
                {
                    if (course != null)
                    {
                        <div class="courses-box">
                            <div class="courses-box-top">
                                @if (course.IsBestSeller)
                                {
                                    <p>Best seller</p>
                                }

                            </div>
                            <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">
                                <img src="~/images/@(course.ImageUri ?? "")" alt="">
                            </a>

                            <form method="post" asp-action="DeleteSavedCourse" asp-controller="Account">
                                <input type="hidden" name="courseId" value="@course.Id" />

                                <button type="submit">
                                    <i class="fa-regular fa-bookmark"></i>
                                    <p class="deleteText">Delete</p>
                                </button>
                            </form>

                            <div class="courses-text">
                                <h5>@(course.Title ?? "")</h5>
                                <p>@(course.Author ?? "")</p>
                            </div>
                            @if (course.DiscountPrice != null)
                            {
                                <div class="prices">
                                    <p><s>@course.Price $</s></p>
                                    <p>@course.DiscountPrice $</p>
                                </div>
                            }
                            else
                            {
                                <div class="prices">
                                    <p>@course.Price $</p>
                                </div>
                            }
                            <div class="hour-rating">
                                <p><i class="fa-regular fa-clock"></i>@(course.Hours ?? "")</p>
                                <p><i class="fa-regular fa-thumbs-up"></i>@(course.LikesInProcent ?? "")% (@(course.LikesInProcent ?? "") k)</p>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section> *@

@code {

}
